body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/g1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
    margin: 20px auto;
    max-width: 300px;
    background-color: rgba(255, 255, 255, 0.8); /* 背景を半透明にする */
    padding: 10px;
    border-radius: 10px;
}

#bingo-card div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;
}

#bingo-card img {
    width: 100%;
    height: 100%;
}

#bingo-card .free {
    background-color: #ccc;
}

#bingo-card .free {
    background-color: #ccc;
}
